# Tuples and Sets

### Tuples

**Tuple:** an ordered collection or grouping of items

Tuples are similar to lists, but they are immutable (they cannot be changed). They are stored with parentheses instead of square brackets.

In [1]:
# Create a new tuple - x
x = (1,2,3)

In [2]:
# Confirm that 3 is in x
3 in x

True

In [3]:
# Attempt to change one of the values in x
# An error is returned because tuples are immutable
x[0] = 99

TypeError: 'tuple' object does not support item assignment

In [4]:
# Show the data type of x
type(x)

tuple

Reasons to use a tuple (over a list):

* Tuples are faster than lists
* Tuples are safer (less risk of defects because they can't be changed)
* Tuples can be used as valid keys in dictionaries
* Tuples are returned by some methods (like .items())

Sample use cases (i.e. situations where data doesn't change):

* Months in a year
* Latitude / longitude as a key for different cities

### Tuple Looping and Methods

#### Loops

We can use a *for* loop to iterate over a tuple (just like a list).

In [5]:
# Create a new tuple - cities
cities = ('Chicago', 'Boston', 'New York', 'Denver')

In [7]:
# Use for loop to print out the name of each value in the tuple
for city in cities:
    print(city)

Chicago
Boston
New York
Denver

#### Count()

The count() method returns the number of times that a value appears in a tuple.

In [8]:
# Create a new tuple - x
x = (1,2,2,3,3,3,4,5)

In [9]:
# Count how many times 3 is in the tuple
x.count(3)

3

#### Index()

The index() method returns the first index at which a value is found in a tuple.

In [10]:
# Create a new tuple - x
x = (1,2,2,3,3,3,4,5)

In [11]:
x.index(3)

3

### Sets

**Set:** A collection of data that does not have duplicate values.

Attributes:

* Sets are like formal mathematical sets.
* Sets do not have duplicate values.
* Elements in sets are not ordered.
* Elements in sets cannot be accessed by index.

Sample use case:

* Need to keep track of a collection of elements but don't need about ordering, keys/values, or duplicates.
* Want to remove duplicates from an existing list

In [12]:
# Create a new set - x
x = {1,2,3}

In [13]:
type(x)

set

In [14]:
2 in x

True

In [16]:
for number in x:
    print(number)

1
2
3

In [17]:
# Create a new list that contains duplicates
states = ['DC', 'MA', 'CA', 'NY', 'NY', 'CA', 'ME', 'NH', 'DC']

In [18]:
# Print out the length of the states list
print(len(states))

9

In [19]:
# Convert to a set and then print out the length (without the duplicates)
print(len(set(states)))

6

In [20]:
# Convert the list to a set (to remove dupes) and then back to a list
print(list(set(states)))

['CA', 'ME', 'NH', 'NY', 'DC', 'MA']

### Set Methods

#### Add()

The add() function adds an element to a set. If the element is already in the set, the set does not change.

In [21]:
# Create a new set - x
x = {1,2,3}

In [25]:
x.add(4)
x

{1, 2, 3, 4}

In [24]:
# When attempting to add 4 again, nothing happens
x.add(4)
x

{1, 2, 3, 4}

#### Remove()

The remove() method removes the specified value from the set.

In [27]:
# Create a new set - states
states = {'DC', 'MA', 'CA', 'NY'}

In [28]:
states.remove('DC')
states

{'CA', 'MA', 'NY'}

#### Discard()

The discard() method removes a value without returning an error in the event that the value was not in the set.

In [31]:
# Create a new set - states
states = {'DC', 'MA', 'CA', 'NY'}

In [32]:
states.remove('DC')

In [33]:
states.remove('DC')

KeyError: 'DC'

In [34]:
states.discard('DC')

#### Copy()

The copy() method creates a duplicate version of the set.

In [35]:
# Create a new set - states
states = {'DC', 'MA', 'CA', 'NY'}

In [36]:
states2 = states.copy()

In [37]:
states2

{'CA', 'DC', 'MA', 'NY'}