# List Methods

### Index

The 'Index' method returns the list index of any specific item. For example, in the scenario below, we are looking for the index of the number 94. Because its index in the 'numbers' list is 2, that is the output returned.

In [2]:
# Create new list - numbers
numbers = [65, 32, 94, 29, 74]

In [3]:
# Return the index of the value 94
numbers.index(94)

2

The 'Index' method also allows us to specify the start and/or end within the list to search. The argument breakdown is as follows:

1. First argument - item to search
2. Second argument - starting index in list
3. Third argument - ending index in list

In [7]:
# Define a new list - heroes
heroes = ["Batman", "Superman", "Batman", "Wonder Woman", "Ironman", "Captain America"]

In [8]:
# Define a start point when using the index method
# Because the start point is Index == 1, the first instance of "Batman" returned is at Index == 2
heroes.index("Batman",1)

2

In [10]:
# Define a start point and end point
# End point is NOT INCLUSIVE, so we must use 4 in this example to return the WW value
heroes.index("Wonder Woman", 0, 4)

3

### Count

The 'Count' method returns the number of times that a defined item appears in a list. For example, in the scenario below, we are searching for the number of times that 8 is in the list, and the output is 4.

In [11]:
# Define a new list - Numbers
numbers = [9, 8, 3, 4, 2, 9, 8, 8, 4, 3, 8]

In [13]:
# Use count method to return the number of times that 8 is in the list
numbers.count(8)

4

### Reverse

The 'Reverse' method reverses the order of items in a list. There are no arguments required or accepted.

In [14]:
# Define a new list - colors
colors = ["blue", "red", "purple", "green", "yellow"]

In [15]:
# Reverse the order
colors.reverse()

In [16]:
# Print out reversed list
colors

['yellow', 'green', 'purple', 'red', 'blue']

### Sort

The 'Sort' method sorts the list items in ascending order. There are no arguments required or accepted.

In [17]:
# Define a new list - numbers
numbers = [93, 54, 34, 98, 75, 12, 42]

In [18]:
# Sort list in ascending order
numbers.sort()

In [20]:
# Print out sorted list
numbers

[12, 34, 42, 54, 75, 93, 98]

### Join

**NOTE: 'Join' is a string method, not a list method**

The 'Join' method concatenates a copy of the base string (the input string value) between each item in the list.

In [21]:
# Define a new list - name
name = ["Mr", "MacDonald"]

In [22]:
# Use join method to add in period and space between items in the list
". ".join(name)

'Mr. MacDonald'

### Append

The 'Append' method adds *one* new item to the end of a list. If you need to add more than one item, use the 'Extend' method (shown below).

In [23]:
# Define a new list - friends
friends = ["Harry", "Ron", "Hermione"]

In [24]:
# Append new value onto the end of the list
friends.append("Hagrid")

In [25]:
# Print out list showing the additional value
friends

['Harry', 'Ron', 'Hermione', 'Hagrid']

### Extend

The 'Extend' method adds multiple new items to the end of a list.

In [26]:
# Define a new list - friends
friends = ["Harry", "Ron", "Hermione"]

In [27]:
# Use extend method to add new values to the list
friends.extend(["Sirius", "Remus", "James"])

In [28]:
# Print out list showing the additional value
friends

['Harry', 'Ron', 'Hermione', 'Sirius', 'Remus', 'James']

### Insert

The 'Insert' method adds new items to a list in a defined index location. The first agument is the desired index, and the second argument is the value to be inserted.

In [29]:
# Define a new list - friends
friends = ["Harry", "Ron", "Hermione"]

In [30]:
# Use insert method to add "Ginny" to list in first index location
friends.insert(1, "Ginny")

In [32]:
# Print out list showing the new value as the first index
friends

['Harry', 'Ginny', 'Ron', 'Hermione']

In [33]:
# Print out value in first index
friends[1]

'Ginny'

### Clear

The 'Clear' method completely deletes the entire list. There are no arguments accepted or required.

In [34]:
# Define a new list - friends
friends = ["Harry", "Ron", "Hermione"]

In [35]:
# Clear out the list
friends.clear()

In [36]:
# Print out the list to show that no values remain
friends

[]

### Pop

The 'Pop' method removes a value in a list based on a specified index. If you input a numeric argument, the method will remove the value with the corresponding index. If you do not input an argument, the method will remove the last value in the list.

In [37]:
# Define a new list - classes
classes = ["Transfiguration", "Potions", "Charms", "Herbology", "DADA"]

In [38]:
# Remove the value at index == 2
classes.pop(2)

'Charms'

In [39]:
# Print out list to show that the value has been removed
classes

['Transfiguration', 'Potions', 'Herbology', 'DADA']

In [40]:
# Remove the final value in the list by not specifying an argument
classes.pop()

'DADA'

In [41]:
# Print out list to show that the value has been removed
classes

['Transfiguration', 'Potions', 'Herbology']

### Remove

The 'Remove' method removes a value in a list based on the input value, not the index. This method only removes the first instance of a value.

In [42]:
# Define a new list - friends
friends = ["Harry", "Ron", "Hermione", "Neville", "Ron"]

In [43]:
# Remove Ron from the list (but only the first instance)
friends.remove("Ron")

In [44]:
# Print out list to show that the value has been removed
friends

['Harry', 'Hermione', 'Neville', 'Ron']